.DS_Store
node_modules/
dist/
dist-www/
dist-mc/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
static/original-key-files/
.idea
src/config.js
src/assets/comic.ttf
comic-2.ttf
