.game-welcome {
  display:block;
}

.game-welcome .playButton {
  position: absolute;
  bottom: 5vh;
  margin: auto;
  width: 100%;
}


.game-welcome p.title {
  margin-top: 20vh;
  color: #f4dd06;
  text-shadow: 0.5vw 0.5vw #f5991b, 0.8vw 0.8vw #c82f27, 1vw 1vw #6c100f;
  font-weight:bold;
  font-size: 15vh;
  letter-spacing: 0.8vw;
}

.game-welcome p.namerow {
  margin-top: 5vh;
}

.game-welcome p input {
  color: #c82f27;
  letter-spacing: 0.8vw;
  font-size: 8vh;
  text-align: center;
  padding: 2.5vh;
  margin: 0vh;
  border-radius: 5vh;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #f5991b;
}

.game-welcome p input:focus {
  border-radius: 5vh;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 0 6px 6px #f5991b;
  outline: none;
}

.bounce {
  animation: bounce 6s infinite;
}
